html {
height: 100%;
background-color: whitesmoke;
}

.container{
    display: flex ;
    justify-content: center;
    margin: 50px;
}

.box1{
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: gainsboro;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight:lighter;
    font-size: 13px;
    height: 250px;
    max-width: 400px;
}

.line{
    width: 350px;
    

}

.insta{
    margin: -60px;
}

.info{
    margin-bottom: 50px;
    margin-top: -90px;
    
  
}
.box2{
   
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: gainsboro;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: white;
}

.switch{
    color:dodgerblue;
    font-weight: bold;
}

.sign-up{
    color:dodgerblue;
  font-weight: bold;
}

.box3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.links{
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  
  
}

a{
    text-decoration: none;
    color: gray;
}


.get-on{
    font-family: Arial, Helvetica, sans-serif;

}

.left{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
   